/*General topics*/

/*color*/
h1 {
    font: 2.0cm;
    color: rgb(71, 143, 71)
}

h2 {
    color: hsl(14, 51%, 49%)
}

/*background*/
h3 {
    color: #447494;
    background-color:pink
}

/*class*/

.changecolor span{
        background-color:black;
        color:hsl(226, 28%, 91%)
}