/*General topics*/

/*color*/
h1 {
    font: 2.0cm;
    /*UnitA1*/
    color: rgb(71, 143, 71);
    /*UnitR1*/
    line-height: 0.5em;
    display:inline
}

/*text color*/
h2 {
    color: hsl(14, 51%, 49%);
    font-size: 4vh;
}


/*background*/
h3 {
    color: #447494;
    background-color:pink;
    /*UnitA2 A3*/
    font-size: 20px;
    line-height: 20pt;
}


/*Box*/
/*longmargin*/
/*long pading*/
/*border*/
.box1 {
    border-style: double;
    border-color:pink;
    border-width: medium;
    border-radius: 20%;
    margin-top: 10px;
    margin-right:50px;
    margin-bottom:50px;
    margin-left:20px;
    padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

/*shortmargin*/

.box2 {
   border:1px solid pink;
   margin: 50px,20px,50px,20px;
   padding: 10x,10px,10px,10px;
   max-height: 100%;
}

.box3 {
    border:1px sollid pink;
    min-width: none;
    height:100px;
    width:50%;
    margin: auto;
 }
 
/*class*/
.changecolor span{
        background-color:black;
        color:hsl(226, 28%, 91%)
}

li{
    font-size: 3ch;
    display:block
}

/*id*/
#centered {
    text-align: center;
}

#delete{
    text-decoration: line-through;
}
